.modal-transition-show {
  -webkit-transition: opacity 400ms 0ms, -webkit-transform 0ms 0ms;
  transition: opacity 400ms 0ms, -webkit-transform 0ms 0ms;
  -o-transition: transform 0ms 0ms, opacity 400ms 0ms;
  transition: transform 0ms 0ms, opacity 400ms 0ms;
  transition: transform 0ms 0ms, opacity 400ms 0ms, -webkit-transform 0ms 0ms;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.modal-transition-hide {
  -webkit-transition: opacity 400ms 0ms, -webkit-transform 0ms 400ms;
  transition: opacity 400ms 0ms, -webkit-transform 0ms 400ms;
  -o-transition: transform 0ms 400ms, opacity 400ms 0ms;
  transition: transform 0ms 400ms, opacity 400ms 0ms;
  transition: transform 0ms 400ms, opacity 400ms 0ms,
    -webkit-transform 0ms 400ms;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}